
/* ============================================================================================================ */
/* GENERAL FONTS*/
/* ============================================================================================================ */
body, html, button, a, input, textarea, .bullets, .simple-bullets{
    font-weight: 300;
    color: #9699a6; /* Light mode black*/
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.nav-links a, .footer-nav-links a, .menu-toggle, footer {
    color: #ffffff;
}

/* ============================================================================================================ */
/* NAVIGATION BAR */
/* ============================================================================================================ */
.logo {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}
.nav-links a , .footer-nav-links a {
    text-decoration: none;
    font-size: 1.5em
} .nav-links a:hover, .footer-nav-links a:hover {
    color: #ffffff90;
}
.footer-nav-links {
    font-size: 0.9em;
}

/* ============================================================================================================ */
/* BASE CONTENT */
/* ============================================================================================================ */
h2, p {
    text-align: center;
}
h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.9em;
} 
p {
    font-weight: 400;
    font-size: 1.1em;
}
.smaller{
    font-weight: 300;
    font-size: 1em;
}
.bullet-container, .simple-bullets li {
    font-weight: 350;
    font-size: 1em;
}
.areas-covered-container {
    font-size: 0.8em;
}

/* ============================================================================================================ */
/* FOOTER */
/* ============================================================================================================ */
h5, .footer-text {
    text-align: start;
}
h5 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9em;
} 
.footer-text {
    font-size: 0.9em;
}
input, textarea {
    font-weight: 400;
}
p.thanks-msg{
    font-size: 0.9em !important;
}

/* Hide nav links on small screens */
@media screen and (orientation: portrait) {
    /* ============================================================================================================ */
    /* HEADER*/
    /* ============================================================================================================ */
    .nav-links a{
        font-size: 1em;
        font-weight: 300;
    }
    .footer-nav-links a {
        font-size: 1.5em;
        font-weight: 300;     
    }
    .nav-links a:hover, .footer-nav-links a:hover {
        border: none !important;
    }

    /* ============================================================================================================ */
    /* MAIN */
    /* ============================================================================================================ */
    h2 {
        font-weight: 350;
        font-size: 1.5em;
    } 
    p {
        font-weight: 300;
        font-size: 1em;
    }
    .smaller{
        font-weight: 300;
        font-size: 1em;
    }
    .bullet-container {
        font-weight: 350;
        font-size: 0.8em;
    }
    .areas-covered-container {
        font-weight: 350;
        font-size: 0.9em;
    }   


    /* ============================================================================================================ */
    /* FOOTER */
    /* ============================================================================================================ */
    .footer-nav-links{
        padding: 0;
        width: 100%;
        font-size: 0.5em;
        justify-content: center;  
    }
    .footer-nav-links li, .footer-nav-links a{
        margin: 0;
        padding: 0;

    }
    h5 {
        font-weight: 400;
        font-size: 1em;
    } 
    .footer-text {
        font-size: 0.8em;
    }
    textarea {
        font-weight: 300;
    }
}