/* src/components/Layout.css */

/* General Styles */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header,
footer {
  z-index: 10; /* Ensure header and footer are above other content */
}

/* Remove default button and link outlines and tap highlight */
button,
button:focus,
a,
a:focus,
input,
textarea,
select {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

/* Header Styles */
header {
  position: sticky;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 100;
  background-image: url('../images/backgroundImage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar,
.down-container {
  background: #050505b4;
  backdrop-filter: blur(2px);
}

.navbar {
  display: flex;
  align-items: flex-start;
  height: auto;
  padding: 10px;
  box-shadow: 1.8px 3.7px 3.7px hsl(0deg 0% 0% / 0.44);
}

.home-page header .navbar {
  box-shadow: none;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.homelink {
  cursor: pointer;
}

.logo-image {
  width: 18vw;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links a {
  margin: 0 5px;
  padding: 3px 5px;
  border-radius: 3px;
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  background-color: #dbcbcb2e;
}

.nav-button.active {
  border-bottom: 2px solid #fff;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  color: white;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: #222222eb;
    width: 100%;
    text-align: center;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .menu-toggle {
    display: block;
  }

  .logo-image {
    width: 40vw;
  }
}
